# Ignore all large video and image files
assets/*.mp4
assets/*.webm
assets/*.jpg
assets/*.jpeg
assets/*.png

# Allow small important icons
!assets/LocationIcon.png
!assets/CurrentLocationIcon.png
!assets/CalenderIcon.gif
!assets/sun.png
!assets/storm.png
!assets/weather.png
!assets/heavy-rain.png